@font-face
{
    src:url(fonts/SairaStencilOne-Regular.ttf);
    font-family: Saira;
}

@font-face
{
    src:url(fonts/Fenix-Regular.ttf);
    font-family: Fenix;
}

@font-face
{
    src:url(fonts/Tangerine-Regular.ttf);
    font-family: Tang;
}

@font-face
{
    src:url(fonts/Petrona-VariableFont_wght.ttf);
    font-family: Petrona;
}

@font-face
{
    src:url(fonts/Playball-Regular.ttf);
    font-family: Playball;
}

nav
{
    font-family: Saira;
    font-weight: bolder;
}

nav h3
{
    font-family: Saira;
    font-size: 26px;
}

nav h4
{
    padding-top: 3px;
    padding-right: 50px;
}

nav h3:hover
{
    color:black;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

a h4:hover
{
    color: orangered;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

#banner_imagefash
{
    padding-top: 700px;
    padding-left: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url("Images/fashbanner.jpg") no-repeat center;
    background-size: cover;
}

#fashbgv
{
    background: url("Images/fashbgv.jpg") repeat center;
    background-size: cover;
    border: none;
}

.container
{
    border: none;
}

body
{
    background-color: black;
}

#fashfooter
{
    border: none;
    padding-bottom: 500px;
    padding-top: 150px;
    padding-left: 50px;
    background: url("Images/fashfooter.jpg") no-repeat center;
    background-size: cover;
}